# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore robots.txt
public/robots.txt

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/sitemap.xml
/*.js

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
