name: dds
services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    image: dds/backend:latest
    restart: on-failure
    ports:
      - "4000:4000" # to be removed
    expose:
      - "4000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - net
    environment:
      - DDS_ENV=production
      - BACKEND_SERVICE_NAME=backend

  certbot:
    image: dds/certbot:latest
    build:
      context: .
      dockerfile: certbot.Dockerfile
    volumes:
      - ./volumes/certbot/conf:/etc/letsencrypt
      - ./volumes/certbot/www:/var/www/letsencrypt
      - ./volumes/self-signed-ssl:/etc/self-signed-ssl
    entrypoint: "/certbot-entrypoint.sh"
    networks:
      - net

  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dds
    volumes:
      - ./volumes/db:/var/lib/mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    networks:
      - net
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 3s
      retries: 5

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    image: dds/frontend:latest
    restart: on-failure
    volumes:
      - ./volumes/certbot/conf:/etc/letsencrypt
      - ./volumes/certbot/www:/var/www/letsencrypt
      - ./volumes/self-signed-ssl:/etc/self-signed-ssl
    ports:
      - "443:443"
      - "80:80"
    entrypoint: "/nginx-entrypoint.sh"
    depends_on:
      - backend
      - certbot
    networks:
      - net
    environment:
      - NODE_ENV=production
      - DDS_ENV=production
      - BACKEND_SERVICE_NAME=backend

networks:
  net:
    external: false
