-i https://pypi.org/simple

setuptools~=67.8.0
requests==2.31.0
coloredlogs~=15.0.1
verboselogs~=1.7
sqlalchemy==2.0.20
pymysql==1.1.0
python-dotenv==1.0.0
flask==2.3.3
gunicorn==21.2.0
mysql-connector-python==8.1.0
werkzeug==3.0.1
flask-jwt-extended==4.5.3
flask-cors==4.0.0
alembic==1.12.0
rpdb==0.1.6
fitbit==0.3.1
sonyflake-py==1.3.0
pytest==7.3.1
pytest-mock==3.11.1
pytest-flask==1.2.0
validators==0.22.0
PyGithub==2.1.1